@model Kitaplik2.Entities.Concrete.Publisher

<form asp-action="Ekle" asp-controller="Publisher">

    <label for="">Kategori Adı Yazınız</label>
    <input type="text" class="form-control" asp-for="Name">
    <br />

    <button type="submit" class="btn btn-primary">Ekle</button>

</form>